extends layout

block content
  h1 Current Movies
  ul#movielist
    each movie in movies
      li
        a(href="/movies/" + movie.id)= movie.name
  hr
  h1 Create new movie
  form#createmovie
    div
      input.name(type="text", placeholder="title")
    div
      textarea.synopsis(type="synopsys", placeholder="synopsys")
    div
      input.btn(type="submit", value="save")

block scripts
  script(src="/main.js")