<html>
<head>
    <title>The Node Movie Database</title>
    <link rel="stylesheet" type="text/css" href="http://nodejs-workshop-arg.github.com/stylesheets/stylesheet.css">
</head>
<body>
    <div class="container">
        <small style="float: right;">
            logged as <%= user.name %> since <%= user.loggedSince.toLocaleTimeString() %>
        </small>
        <h1><%= name %></h1>
        <p>
            <%= synopsis %>
        </p>
    </div>
</body>
</html>