doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='main.css')
    link(rel='stylesheet', href='css/main.css')

    script(src="/js/todo.js")
    script(src="/js/main.js")
  body
    #container
      block content
