<% include includes/head %>

<div class="section">
    <h2><%= name %></h2>
    <p>
        <%= synopsis %>
    </p>
</div>

<div class="section">
    <h2>Comments</h2>
    <ul id="comments">
    <% comments.forEach(function (comment){ %>
        <li>
            <strong><%= comment.user %></strong>: <%= comment.text %>
        </li>
    <% }) %>
    </ul>

    <h2>Leave a comment </h2>
    <p>online users: <span id="usercount"></span></p>
    <form id="new-comment" method="POST" action="comments">
        <input id="new-comment-user" 
                name="user" 
                type="text" 
                required
                placeholder="your name" /> 
        <br>
        <input id="new-comment-text" 
                name="text" 
                placeholder="your comment"
                required
                style="min-width: 400px; min-"></input> 
        <br>
        <input type="submit" class="btn">
    </form>
</div>

<% include includes/foot %>